{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "plugins": ["./node_modules/prettier-plugin-tailwindcss/dist/index.mjs"],
  "tailwindStylesheet": "./src/index.css",
  "tailwindFunctions": ["cn", "cva"]
}